body {
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 110%;


    header  {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
        position: fixed;
        top: 0;
        background-color: rgb(26, 26, 26);
        z-index: 1;
        border-bottom: 1px solid #0a0;
        opacity: 0.9;

        div {
            margin-right: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            section {
                width: 350px;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                
                label {
                    color: snow;
                }
    
                span {
                    color: snow;
                }
            }
    
            section#playStop {
                width: 350px;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }

    main {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 50px;

        div {
            section {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                div {
                    height: 30px;
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
            
                    p {
                        color: snow;
                        width: 80px;
                    }
    
                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
    
                        section {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                            width: 200px;
                            height: 250px;
                            margin-right: 50px;
    
    
                            h2 {
                                color: snow;
                            }
    
                            div {
                                div {
                                    width: 200px;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-around;
                                    color: snow;
                                    margin-bottom: 10px;
        
                                    div {
                                        width: 200px;
                                    }
                                }
                            }
                        }
                    }
                }
    
                section {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
    
                    section {
                        color: snow;
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
    
                        div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                }
            }
        }

        div#instShow {
            width: 200px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-left: 1px solid #0a0;
            margin: 50px 0px 0px 50px;

            p {
                color: snow;
            }
            
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    button {
                        margin: 10px;
                    }
                }
            }
        }
    }

    footer {

        p {
            color:#0a0;
            filter: hue-rotate(20deg);

            a {
                font-weight: bold;
                color:#0a0;
                filter: hue-rotate(210deg);
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}

div.instParameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

div#instNameToogle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

section.instrument {
    height: 300px;
}

section.metronomo {
    border-right: 2px solid #0a0;
}


/* MARGENES INPUTS */
.marginR {
    margin-right: 15px;
}

.marginL {
    margin-left: 15px;
}

.padding {
    padding: 20px;
}




/* INPUTS */
input[type=checkbox] {
    position: relative;
    visibility: hidden;
    cursor: pointer;
    margin: 0px 10px 10px 10px;
}

input[type=checkbox]:after {
    display: block;
    content: "  ";
    visibility: visible;
    height: 20px;
    width: 20px;
    border-radius: 6px;
    background: transparent;
    border: 2px #0a0 solid;
}

input[type=checkbox]:checked:after {
    content: "  ";
    background: #0a0;
    border: 2px solid #0a0;
    animation: s-ripple 250ms ease-in;
} 

input[class="inputDrums"], input[class="inputDrums marginR"] {
    filter: hue-rotate(420deg);
}

input[class="inputBass"], input[class="inputBass marginR"] {
    filter: hue-rotate(190deg);
}

input[class="inputSynth"], input[class="inputSynth marginR"] {
    filter: hue-rotate(230deg);
}

input[class="inputChords"], input[class="inputChords marginR"] {
    filter: hue-rotate(280deg);
}

input[class="inputChords marginR"], input[class="inputSynth marginR"], input[class="inputBass marginR"] {
    margin-right: 20px;
}

@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}




/* SLIDER */
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 5%;
    background: transparent;
    border: 2px solid #0a0;
    border-radius: 8px;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10%;
    height: 20px;
    background: rgb(26, 26, 26);
    cursor: pointer;
    border: 2px solid #0a0;
    border-radius: 4px;
}

/* for firefox */
.slider::-moz-range-thumb {
    width: 10%;
    height: 20px;
    background: rgb(26, 26, 26);
    cursor: pointer;
    border: 2px solid #0a0;
    border-radius: 4px;
}

.sliderMain {
    height: 5px;
}

.sliderDrums {
    filter: hue-rotate(420deg);
}

.sliderBass {
    filter: hue-rotate(190deg);
}

.sliderSynth {
    filter: hue-rotate(230deg);
}

.sliderChords {
    filter: hue-rotate(280deg);;
}



/* BOTONES */
.boton {
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #0a0;
    color: #0a0;
    cursor: pointer;
    padding: 7px;
}

.botonDrums {
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #0a0;
    color: #0a0;
    cursor: pointer;
    padding: 7px;
    filter: hue-rotate(420deg);
}

.botonBass {
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #0a0;
    color: #0a0;
    cursor: pointer;
    padding: 7px;
    filter: hue-rotate(190deg);
}

.botonSynth {
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #0a0;
    color: #0a0;
    cursor: pointer;
    padding: 7px;
    filter: hue-rotate(230deg);
}

.botonChords {
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #0a0;
    color: #0a0;
    cursor: pointer;
    padding: 7px;
    filter: hue-rotate(280deg);
}

/* ANIMACION BOTONES */
.buttonAnim {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.buttonAnim:hover {
    box-shadow: 0 0 40px 40px #0a0 inset;
    color: rgb(26, 26, 26);
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body {

        main {
            display: grid;
            grid-template: "a";
            width: 95%;
            height: 1400px;

            section {
                margin-bottom: 100px;
            }
        }
    }

}