body {
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 110%;


    /* --------- HEADER --------- */

    header  {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
        position: fixed;
        top: 0;
        background-color: rgb(26, 26, 26);
        z-index: 1;
        border-bottom: 1px solid #0a0;
        opacity: 0.9;

        div {
            margin-right: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            section {
                width: 350px;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                
                label {
                    color: snow;
                }
    
                span {
                    color: snow;
                }
            }

            // section.metronomo {
            //     border-right: 1px solid #0a0;
            // }
    
            section#playStop {
                width: 350px;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                border-left: 2px solid #0a0;
                margin-left: 20px;
            }

            section#scales {
                width: 150px;
                padding-left: 5px;
            }

            section.card {
                position: relative;
                display: flex;
                flex-direction: row;
                min-width: 0;
                word-wrap: break-word;
                background-color: transparent;
                border-left: 2px solid #0a0;
                margin-left: 10px;
            
                label {
                    cursor: pointer;
                    color: rgb(26, 26, 26);
            
                    span {
                        padding: 7px;
                        border: 2px solid #0a0;
                        display: inline-block;
                        color: #0a0;
                        border-radius: 10px;
                        cursor: pointer;
                        font-size: 90%;
                    } 
            
                    span:hover {
                        color: rgb(26, 26, 26);
                    }
                }
            }
        }
    }


    label.check input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none;
        color: rgb(26, 26, 26);
    }
        
    label.check input:checked+span {
        border-color: #0a0;
        background-color: #0a0;
        color: rgb(26, 26, 26);
    }
        
    label.check input::after {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none;
        color: rgb(26, 26, 26);
    }




    
    /* --------- MAIN --------- */

    main {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 50px;

        div {
            section {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                div {
                    height: 30px;
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
            
                    p {
                        color: snow;
                        width: 80px;
                    }
    
                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
    
                        section {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                            width: 200px;
                            height: 250px;
                            margin-right: 50px;
    
    
                            h2 {
                                color: snow;
                            }
    
                            div {
                                div {
                                    width: 200px;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-around;
                                    color: snow;
                                    margin-bottom: 10px;
        
                                    div {
                                        width: 200px;
                                    }
                                }
                            }
                        }
                    }
                }
    
                section {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
    
                    section {
                        color: snow;
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
    
                        div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                }
            }
        }

        div#aside {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-left: 1px solid #0a0;
            margin: 30px 50px 0px 50px;
        }
    }



    /* ---------- FOOTER ---------- */
    footer {

        p {
            color:#0a0;
            filter: hue-rotate(20deg);

            a {
                font-weight: bold;
                color:#0a0;
                filter: hue-rotate(210deg);
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}




div.instParameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 300px;

    .parInstButtons {
        width: 250px;
        margin-top: 10px;
    }
}

div#instNameToogle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

section.instrument {
    height: 300px;
    margin-left: 50px;
}









/* --------- MARGIN INPUTS --------- */
.marginR {
    margin-right: 15px;
}

.marginL {
    margin-left: 15px;
}

.padding {
    padding: 20px;
}







/* --------- INPUTS --------- */
input[type=checkbox] {
    position: relative;
    visibility: hidden;
    cursor: pointer;
    margin: 0px 10px 10px 10px;
}

input[type=checkbox]:after {
    display: block;
    content: "  ";
    visibility: visible;
    height: 20px;
    width: 20px;
    border-radius: 6px;
    background: transparent;
    border: 2px #0a0 solid;
}

input[type=checkbox]:checked:after {
    content: "  ";
    background: #0a0;
    border: 2px solid #0a0;
    animation: s-ripple 250ms ease-in;
} 

input[class="inputDrums"], input[class="inputDrums marginR"] {
    filter: hue-rotate(420deg);
}

input[class="inputBass"], input[class="inputBass marginR"] {
    filter: hue-rotate(190deg);
}

input[class="inputSynth"], input[class="inputSynth marginR"] {
    filter: hue-rotate(230deg);
}

input[class="inputChords"], input[class="inputChords marginR"] {
    filter: hue-rotate(280deg);
}

input[class="inputChords marginR"], input[class="inputSynth marginR"], input[class="inputBass marginR"] {
    margin-right: 20px;
}

@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}


/* CURRENT INPUT */

.snow {
    border: solid snow;
    filter: hue-rotate(180deg) brightness(100%) sepia(100%) saturate(1%);
}




/* --------- SLIDER --------- */
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 5%;
    background: transparent;
    border: 2px solid #0a0;
    border-radius: 8px;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10%;
    height: 20px;
    background: rgb(26, 26, 26);
    cursor: pointer;
    border: 2px solid #0a0;
    border-radius: 4px;
}

/* for firefox */
.slider::-moz-range-thumb {
    width: 10%;
    height: 20px;
    background: rgb(26, 26, 26);
    cursor: pointer;
    border: 2px solid #0a0;
    border-radius: 4px;
}

.sliderMain {
    height: 5px;
}

.sliderDrums {
    filter: hue-rotate(420deg);
}

.sliderBass {
    filter: hue-rotate(190deg);
}

.sliderSynth {
    filter: hue-rotate(230deg);
}

.sliderChords {
    filter: hue-rotate(280deg);;
}








/* --------- BUTTONS --------- */
.boton {
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #0a0;
    color: #0a0;
    cursor: pointer;
    padding: 7px;
}

.botonDrums {
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #0a0;
    color: #0a0;
    cursor: pointer;
    padding: 7px;
    filter: hue-rotate(420deg);
}

.botonBass {
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #0a0;
    color: #0a0;
    cursor: pointer;
    padding: 7px;
    filter: hue-rotate(190deg);
}

.botonSynth {
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #0a0;
    color: #0a0;
    cursor: pointer;
    padding: 7px;
    filter: hue-rotate(230deg);
}

.botonChords {
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #0a0;
    color: #0a0;
    cursor: pointer;
    padding: 7px;
    filter: hue-rotate(280deg);
}


/* ANIMATION BUTTONS */
.buttonAnim {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.buttonAnim:hover {
    box-shadow: 0 0 40px 40px #0a0 inset;
    color: rgb(26, 26, 26);
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body {

        main {
            display: grid;
            grid-template: "a";
            width: 95%;
            height: 1400px;

            section {
                margin-bottom: 100px;
            }
        }
    }

}






